body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}


.bg {

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timer {
    border: #ffa500 solid 3px;
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    font-size: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    margin-left: 3%;
    padding: auto;
    
}

button {
    background: transparent;
    color: white;
    border: 2px solid #ffa500;
    transition-duration: 0.1s;
    font-size: 20px;
    padding: 0.3cm;
    margin-left: 1%;
    margin-right: 1%;
}

button:hover {
    background: #ffa500;
    color: black;
}

#message {
    color: #ffa500;
    font-size: 30px;
    display: flex;
    justify-content: center;
}



/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#yo {
    color: black;
    background: #ffa500;
    padding: 0.2%;
    margin: 0%;
}

#yo:hover {
    background: #ffa500;
    color: black;
}

.side_text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 4%;
}

h2 {
    color: #ffa500;
}

h3 {
    color: #ffa500;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ffa500;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffa500;
    cursor: pointer;
  }

.s_val {
    color: white;
    font-size: 15px;
}

